* {  
	margin: 0;    
	padding: 0;
}

p {
	color: white;
}

.wrapper{
    background: black;
    height: 800px;
    width: 1200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* =========================header====================== */
.header{
	height: 70px;
	background: #101010;
	display: flex;
	align-items: center;
    justify-content: space-between; 
}
.triangles{
	height: 70px;
	width: 70px;
	background: black;
}
.header-menu li {
    display: inline-block;
    margin: auto;
}
.header-menu a {        
    font-size: 14px;    
    line-height: 50px;   
    font-weight: 800;    
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    display: block;    
}
/* =============================three-blocks======================== */
.three-blocks {
	display: flex;
	align-items: end;
    justify-content: space-around;
   
}
/* ==============================block-left========================== */
.block-left {
	width: 50%;
	margin-left: 20px;
	margin-top: 20px;
}
.top-left-block {
	height: 300px;
	background: #101010;    
	margin-bottom: 20px;
}
.top-left-block-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-left-block-head li{
	display: inline-block;
}
.bottom-left-block {
	height: 300px;
	background: #101010;
}
.bottom-left-block-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bottom-left-block-head li{
	display: inline-block;
}
.ct-chart{
    height: 90%;
}
/* ============================block-center============================ */
.block-center {
	width: 28%;
	margin-left: 20px;
	margin-top: 20px;

}
.top-center-block{
	height: 400px;
	background: #101010;	
    margin-bottom: 20px;
	
}
.bottom-center-block{
	height: 200px;
	background: #101010;
}
/* ===========================block-right============================ */
.block-right {
	width: 17%;
    margin-left: 20px;
    margin-right: 0;
}

.top-right-block{
	height: 320px;
	background: #101010;
    margin-top: 1px;
    
}
.bottom-right-block{
	height: 320px;
	background: #101010;
    margin-top: 1px;
 }

 /* ============================footer========================= */

/* .footer{
    height: 100px;
    background: black;
    
} */
	
/* ============================slider=========================== */

.slider {
	width: 100%;
	
}
.slide-title {
	display: flex;
	justify-content: center;
    text-align: center;
    align-items: center;
}
.slider .slide {
	background: url(http://lorempixel.com/400/150/) no-repeat;
	background-size: contain;
	height: 150px;	
	background-position: center;
}
.slider .slide {
	opacity: .5;
}

.slider .slick-current {
	opacity: 1;
}

.slide p {
	/*position: absolute;
	bottom: -20px;*/
}

.slide-title i {
	border: none;
    background: none;
    cursor: pointer;
    font-weight: bold;
    
}