* {  
	margin: 0;    
	padding: 0;
}

/* p {
	color: white;
} */

.wrapper{
    background: black;
    height: 800px;
    width: 1200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* ===========================header=========================== */
.header{
	height: 70px;
	display: flex;
	align-items: center;
    justify-content: space-between; 
}
.logo{
	height: 70px;
	width: 80px;
	background: #383535;
	color: white;
	margin-right: 1px;
}
.search-box{
	color: white;
	width: 412px;
	height: 70px;
	background: #383535;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-left: 10px; 
}

.header-menu{
	width: 500px;
	height: 70px;
	background: #383535;
	display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header-menu li {
    display: inline-block;
    margin: auto;
}
.header-menu a {        
    font-size: 14px;    
    font-weight: 800;    
    margin-left: 20px;
    color: white;
    display: block;  
    text-decoration: none;
}
.header-menu li a:hover {
	color: #5252ff;
}
.photo-name{
	margin:0 auto;
	display: inline-block;
	width: 206px;
	height: 70px;
	background: #383535;
	color: white;
	display: flex;
    align-items: center;
    justify-content: space-around;
}
.photo-name img{
	height: 40px;
	width: 40px;
	margin-left: 20px;
}

/* =============================three-blocks======================== */
.three-blocks {
	display: flex;
	align-items: end;
    justify-content: space-around;
}
.block-left {
	width: 50%;
	margin-left: 20px;
	margin-top: 20px;
}
.block-center {
	width: 330px;
	margin-left: 20px;
	margin-top: 20px;
}
.block-right {
	width: 17%;
    margin-left: 20px;
    margin-right: 0;
}
/* ==============================top-left-block======================== */

.top-left-block {
	height: 300px;
	background: #383535;    
	margin-bottom: 20px;
}

.top-left-block-head {
	display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 50px;
    background: #1D1B1B;
    position: relative;
}
.top-left-block-head a{
	text-decoration: none;
}
.top-left-block-head p{
	margin-left: 20px;
}
.top-left-block-head ul{
	margin-right: 20px;
}
.top-left-block-head li{
	display: inline-block;
    margin-right: 10px;
}
.top-left-block-head li a:hover {
	color: #5252ff;
}
/* =============================bottom-left-block======================== */
.bottom-left-block {
	min-height: 300px;
	background: #383535;
}
/* .bottom-left-block .title {
	position: absolute;
	top: 50%;
} */
.bottom-left-block-head {
	display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 50px;
    background: #1D1B1B;
}
.bottom-left-block-head p{
	margin-left: 20px;
}
.bottom-left-block-head ul{
	margin-right: 20px;
}
.bottom-left-block-head li{
	display: inline-block;
    margin-right: 10px;
}
.bottom-left-block-head li a:hover {
	color: #5252ff;
}
.ct-chart{
    height: 100%;
}
.top-left-block-footer{
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 50px;
	position: absolute;
	top: 40%;
}
.TL p{
	color: green;
}
.Euro p{
	color: #5252ff;
}
.Usd p{
	color: pink;
}
/* ============================top-center-block============================ */

.top-center-block {
	height: 400px;
	margin-bottom: 20px;	
}
.top-center-block-head {
	display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 50px;
    background: #1D1B1B;
}

.top-center-block-head p{
	margin-left: 20px;
}
.slide-title{
	padding-top: 10px;
	background: #383535;
}
.current-debt{
	background: #383535;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 10px;
}
.current-debt-name{
	color: grey;
	margin-left: 10px;
}
.current-debt-sum{
	color: white;
	margin-right: 10px;
}
.credit-available{
	background: #383535;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
.credit-available-name{
	color: grey;
	margin-left: 10px;
}
.current-debt-sum {
	margin-right: 10px;
}
.cut-off-date-block{
	margin-top: 1px;
	background: #383535;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 10px;
}
.cut-off-date-name {
	color: grey;
	margin-left: 10px;
}
.cut-off-date {
	margin-right: 10px;
	color: #5252ff; 
}
.two-buttons{
	background: #383535;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 67px;
}
.btn-left{
	margin-left: 10px;
	width: 140px;
}
.btn-right{
	margin-right: 10px;
	width: 140px;
}
a.L-button {
	background: none;
    border-radius: 50px;
    color: white;    
    font-size: 14px;
    margin: 0 auto;   
    text-decoration: none;    
    transition: all 0.3s;    
    border: 2px solid #5252ff;
    display: block;
    text-align: center;
    line-height: 2.5; 
}
.L-button:hover {
    background: black;
}
a.R-button {
	background: none;
    border-radius: 50px;
    color: white;    
    font-size: 14px; 
    margin: 0 auto;   
    text-decoration: none;    
    transition: all 0.3s;    
    border: 2px solid #5252ff;
    display: block;
    text-align: center;
    line-height: 2.5; 
}
.R-button:hover {
    background: black;
}
/* ===========================bottom-center-block=========================== */

.bottom-center-block{
	height: 200px;
	
}
.s-block{
	height: 66px;
	background: #1D1B1B;
	margin-bottom: 1px;
	background: #383535;
	display: flex;
	justify-content: center;
	align-items: center;
}
.name {
	width: 100px;
	color: white;
	margin-left: 10px;
}
.tl-block {
	width: 90px;
	text-align: right;
	color: gray;
	border-bottom-width: 2px;   
    border-bottom-style: solid;    
    border-bottom-color: gray;
    margin-left: 10px;  
}
.send-block{
	color: #5252ff;
	margin-left: 10px;
}
.bottom-center-block:last-child { 
	margin-bottom: 0;
}
.s-block img{
	height: 50px;
	width: 50px;
}
/* .s-block2{
	height: 66px;
	background: #1D1B1B;
	margin-bottom: 1px;
}
.s-block3{
	height: 66px;
	background: #1D1B1B;
} */
/* ===========================top-right-block============================ */

.top-right-block{
	height: 320px;
	background: #383535;
    margin-top: 1px;    
}
.top-right-block img{
	width: 50px;
	height: 50px;
}

/* ===========================bottom-right-block============================ */

.bottom-right-block{
	height: 320px;
	background: #383535;
    margin-top: 1px;
 }
.bottom-right-block img{
	width: 50px;
	height: 50px;
}
 /* ==============================footer=============================== */

/* .footer{
    height: 100px;
    background: black;
    
} */
	


/*/////////////////*/

/*tab chart*/
#tabs, #tabs-chart {
	list-style: none;
	padding: 0;

}
#tabs {
	text-align: right;
}
#tabs li, #tabs-chart li {
	display: inline-block;

}
#tabs li a.active, #tabs-chart li a.active {
	border-bottom: 2px solid #fff;
}
.bottom-left-block .container {
	display: none;
}
.bottom-left-block .container-content {
	display: flex;
}
/*стили контента таба*/
.input-block>div{
	margin: 20px 0 30px;
}
.input-block .upper {
	display: flex;
	justify-content: space-between;
}
.rangeslider{
	background: #151515;
}
.rangeslider--horizontal {
	height: 4px;
}
.rangeslider__handle {
	height: 22px;
	width: 22px;
}
.rangeslider__fill {
	background: #cfcfcf;
}
/*chart*/
.chart{
	width: 100%;
	position: relative;
	height: 0px;
}
.ct-grids, foreignObject {
	display: none;
}
.ct-chart {
    background-color: #1B1B24;
    font-family: Barlow;
}

.ct-chart .ct-series-a .ct-line{
  stroke: #505f93;
  stroke-width: 2px;
}

.ct-chart .ct-series-a .ct-area, .ct-series-a .ct-slice-pie {
    fill: url(#gradient-a);
    fill-opacity: 0.4;
}

.ct-chart .ct-label{
  color: #FFFFFF;
  opacity: 0.3;
}

.ct-chart .ct-grids .ct-horizontal:first-child,
.ct-chart .ct-grids .ct-horizontal + .ct-vertical{
    stroke: #3A3A41;
    stroke-dasharray: 0;
    display: block;
}

.ct-chart .ct-grids .ct-horizontal,
.ct-chart .ct-grids .ct-vertical{
    display: none
}

.ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut {
    stroke: #f7eeee;
}

#tooltip {
	position: absolute;
    display: none;
    width: 100px;
    height: 30px;
    background: #aca5d0;
    text-align: center;
    color: rgb(167, 84, 98);
    font-weight: bold;
    font-size: 12px;
    line-height: 30px;
    border-radius: 20px;
    transition: .2s ease all;
}

#tooltip:after {
	content: ' ';
	width: 10px;
	height: 10px;
	background: #333;
	display: block;
	position: absolute;
	bottom: -5px;
	left: 45px;
	transform: rotate(45deg);
}

/*slider*/

.slider {
	width: 330px;
	padding-top: 20px;
	background: #383535;
}
.slide-title {
	width: 330px;
	display: flex;
	justify-content: center;
    text-align: center;
    align-items: center;
}
.slider .slide {
	background: url(http://lorempixel.com/220/140/) no-repeat;
	background-size: contain;
	height: 140px;	
	background-position: center;
}
.slider .slide {
	opacity: .2;
}

.slider .slick-current {
	opacity: 1;
}

.slide p {
	/*position: absolute;
	bottom: -20px;*/
}

.slide-title i {
	border: none;
    background: none;
    cursor: pointer;
    font-weight: bold;
}

