body {
	padding: 0;
	margin: 0;
}

.chart{
	width: 300px;
	position: relative;
}
.ct-grids, foreignObject {
	display: none;
}
.ct-chart {
    background-color: #1B1B24;
    font-family: Barlow;
}

.ct-chart .ct-series-a .ct-line{
  stroke: #505f93;
  stroke-width: 2px;
}

.ct-chart .ct-series-a .ct-area, .ct-series-a .ct-slice-pie {
    fill: url(#gradient-a);
    fill-opacity: 0.4;
}

.ct-chart .ct-label{
  color: #FFFFFF;
  opacity: 0.3;
}

.ct-chart .ct-grids .ct-horizontal:first-child,
.ct-chart .ct-grids .ct-horizontal + .ct-vertical{
    stroke: #3A3A41;
    stroke-dasharray: 0;
    display: block;
}

.ct-chart .ct-grids .ct-horizontal,
.ct-chart .ct-grids .ct-vertical{
    display: none
}

.ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut {
    stroke: #f7eeee;
}

#tooltip {
	position: absolute;
    display: none;
    width: 100px;
    height: 30px;
    background: #333;
    text-align: center;
    color: rgb(167, 84, 98);
    font-weight: bold;
    font-size: 12px;
    line-height: 30px;
    border-radius: 20px;
    transition: .2s ease all;
}

#tooltip:after {
	content: ' ';
	width: 10px;
	height: 10px;
	background: #333;
	display: block;
	position: absolute;
	bottom: -5px;
	left: 45px;
	transform: rotate(45deg);
}

.slider {
	width: 500px;
}
.slide-title {
	width: 500px;
	display: flex;
	justify-content: center;
    text-align: center;
    align-items: center;
}
.slider .slide {
	background: url(http://lorempixel.com/400/150/) no-repeat;
	background-size: contain;
	height: 150px;	
	background-position: center;
}
.slider .slide {
	opacity: .5;
}

.slider .slick-current {
	opacity: 1;
}

.slide p {
	/*position: absolute;
	bottom: -20px;*/
}

.slide-title i {
	border: none;
    background: none;
    cursor: pointer;
    font-weight: bold;
}